* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");

body {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.383)),
    url("./background.jpeg") no-repeat center;
  background-size: cover;
  font-family: "Oregano", cursive;
}

.App {
  position: relative;
  min-height: 100vh;
}
