header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  background-image: url("https://i.pinimg.com/originals/d2/c3/44/d2c344ce5f51508b6f8cc1bdc8497a80.gif");
  background-size: contain;
  padding: 20px;
  color: white;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-image,
.scoreboard {
  height: 100%;
  width: 30%;
}
.header-image {
  background: url("./hobbit.png") no-repeat center;
  background-size: contain;
}

.scoreboard {
  color: white;
  background: rgba(0, 0, 0, 0.294);
  font-size: 0.7em;
  border: 25px solid #b88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
    25;
}

.scoreboard > h1 {
  margin: 5% 0;
}

.header-container-text > h1 {
  text-shadow: 3px 3px grey;
  font-size: 3em;
  margin-bottom: 10%;
  text-align: center;
}

@media screen and (max-width: 780px) {
  header {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 620px) {
  header {
    font-size: 0.5em;
    background-size: cover;
  }
}
